*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navBar{
    background-color: black;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 270px;
    padding-right: 270px;
    font-family: 'Balsamiq Sans', cursive;
}
#navLFT{
    display: flex;
}
#profile{
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
}

#navLFT ul{
    display: flex;
    list-style-type: none;
    gap: 55px;
    align-items: center;
    font-size: larger;
    letter-spacing: -.5px;
}
#navLFT a{
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(202,202,202);
}
#soBtn{
    width: 110px;
    height: 30px;
    color: white;
    border-style: none;
    background-color: rgb(20,162,184);
    font-size: 1.3rem;
}
#main{
    display: flex;
    padding: 0 270px;
}
.columnLeft{
    /* border: 2px solid pink; */
    height: 900px;
    flex: 1.2; 
    margin-top: 40px;
}

#profileHeader{
    background-color: rgb(20,162,184) ;
    width: 100%;
    height: 130px;
    padding: 65px 0 0 35px;
}
#proPic{
    border-radius: 50%;
    height: 120px;
    padding: 2.5px;
    background-color: white;
    border: 3px solid rgb(222,222,222);
}
#profileBody{
    border: 3px solid rgb(204,204,204);
    border-top: none;
    height: 250px;
    padding: 55px 0 0 35px;
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 40px;
    /* display: flex; */
}
h2{
    font-size: 35px;
    margin-bottom: 10px;
}
#mapMarker{
    height: 20px;
}
#profileBody>span{
    margin-left: 10px;
    font-size: 1.3rem;
}
#finalP{
    margin-top: 10px;
    margin-bottom: 10px;
}
#gear{
    height: 25px;
}
#eduCard{
    height: 190px;
    font-family: 'Balsamiq Sans', cursive;
}
#eduHeader{
    /* border: 2px solid violet; */
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 35px;
    background-color: black;
    color: white; 
}
#eduBody{
    border: 3px solid rgb(206,206,206);
    border-top: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#eduInfo{
    font-size: 30px;
    margin-bottom: 5px;
}
#dates{
    color: rgb(124,124,124);
    margin-bottom: 15px;
}
.columnRight{
    /* border: 2px solid blue; */
    height: 900px;
    flex: 1; 
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Balsamiq Sans', cursive;
}
.topCard{
    border-top: none;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
}
.cardHeader{
    /* outline: 2px solid greenyellow; */
    background-color: black;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 20px;
    /* justify-content: space-around; */
}
.connectCount{
    background-color: rgb(204,204,204);
    border-radius: 50%;
    padding: 5px 13px;
    margin-right: 20px;
    color: black; 
}
.cardBody{
    border: 3px solid rgb(204,204,204);
    border-top: none;
    width: 530px;
    height: 190px;
    font-weight: 900;
}
.userRow{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.userRow span{
    height: 50px;
}
.thumbPic{
    border-radius: 50%;
    height: 65px;
    border: 3px solid black;
    margin: 15px 10px 10px 20px;
}
#acceptDecline{
    height: 50px; 
    margin-inline-start: 120px;
    margin-right: 20px;
}
.bottomCard{
    width: 530px;
    height: 465px;
    margin-top: 40px;
}
.bottomCardBody{
    border: 3px solid rgb(204,204,204);
    border-top: none;
    width: 530px;
    height: 430px;
    font-weight: 900;
    font-size: 1.5rem;
}
#userRowBottom1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#userRowBottom1 span{
    height: 50px;
}
#userRowBottom2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#userRowBottom2 span{
    height: 50px;
}
#userRowBottom3{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#userRowBottom3 span{
    height: 50px;
}
#userRowBottom4{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#userRowBottom4 span{
    height: 50px;
}
.viewMore{
    /* border: 2px solid hotpink; */
    border-top: 3px solid rgb(204,204,204);
    height: 70px;
    padding: 15px;
}