/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav, .nav-links, .nav-title{
    align-items: center;
}
.nav{
    background-color: rgb(51,51,51);
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.nav-title{
        height: 75px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        font-weight: bolder;
}
.nav-links{
    height: 75px;
    width: 475px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
ul{
    list-style-type: none;
}
.active, .inactive{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}
.active{ 
    color: white;
}
.inactive{
    text-decoration: none;
    color: gray;
}
.btn{
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(20,162,184);
    font-size: large;
    box-shadow: 5px 3px black;
}